.animalCard {
  margin-top: 30px;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__title {
    font-family: $font2;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5em;
  }

  &__subtitle {
    font-family: $font;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5em;
    color: $ngrey;
  }


  &__body {
    display: flex;
  }
}

.ageBlock {
  display: flex;
  margin-top: 1em;

  &__table {
    margin-left: 4rem;
  }

  &__title {
    font-family: $font;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5em;
  }

  &__subtitle {
    font-family: $font;
    font-size: 1.4rem;
    padding: .5em 1em;
    text-align: center;
  }

  &__time {
    font-family: $font;
    font-size: 1.8rem;
    padding: .5em 1em;
    font-weight: 700;
    background-color: $orange;
    color: $white;
    text-align: center;
  }

}

.imgGallery {
  margin-right: 15px;
  width: 352px;
}

.main-image {
  display: flex;
  margin-bottom: 15px;
  border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.secondaryImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

  &__wrap {
    overflow: hidden;
    width: 170px;
    height: 170px;
    background-color: $lgrey;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &__image {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  a {
    display: block;
    height: 100%;
  }
}

.cardContent {
  width: calc(100% - 383px - 230px);
  margin-right: 15px;
}

.sidebar {
  width: 230px;

  &Block {
    border: 2px solid rgba($color: $orange, $alpha: .6);
    border-radius: 5px;
    padding: 20px 15px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 1.8rem;
    color: $brown;
    text-align: center;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: .5em;
  }

  &__text {
    font-size: 1.4rem;
    color: $ngrey;
    line-height: 1.5em;
    margin-bottom: .5em;
  }

  &__link {
    font-size: 1.4rem;
    color: $ngrey;
    line-height: 1.5em;
    margin-bottom: .5em;
    display: block;
  }

  &__icon {
    margin-right: 4px;

    svg {
      height: 14px;
      fill: $orange;
      stroke: $orange;
    }
  }

}




.tab {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid $lgrey;

  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    color: $brown;
    padding: 1em 1.5em;
    transition: .3s cubic-bezier();

    &:hover {
      background-color: $lgrey;
    } 

    &.active {
      background-color: $lgrey;
    }
  }
}

.tabcontent {
  display: none;
  font-size: 1.6rem;
  padding: 1.5em 1.5em;
  box-shadow: 2px 2px 14px #e4e4e4;

  h1,h2,h3,h4 {
    margin-bottom: 1em;
    line-height: 1.5em;
    color: $ngrey;
  }

  p {
    color: $ngrey;
    font-size: 1.6rem;
    font-family: $font2;
    margin-bottom: 1em;
    line-height: 1.5em;
  }

  a {
    color: $orange;
  }

  li {
    position: relative;
    color: $ngrey;
    padding: 0 0 .5em 20px;
    font-family: $font2;
    line-height: 1.5em;
    font-size: 1.6rem;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 5px;
      background-color: $orange;
      border-radius: 50%;
      left: 0px;
      top: 10px;
    }
  }

  strong {
    font-weight: 900;
  }
}

.tabcontent {
  animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
