.volunteer {

  &__inner {
    padding-top: 140px;

    @media screen and (max-width: $md) {
      padding-top: 45px;
    }
  }

  &-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  &-block {
    width: 18%;
    min-width: 150px;
    margin: 0% 2% 2% 0;
    box-sizing: border-box;
    border-bottom: 1px solid $orange;

    @media screen and (max-width: $sm) {
      width: 48%;
      margin: 3% 1%;
    }

    &__image {
      height: 200px;
      width: 100%;
      @include bgCover();
      border-radius: 5px;
      margin-bottom: 1em;
    }

    &__position {
      font-size: 1.8rem;
      color: $brown;
      margin-bottom: 1.5rem;

      &--bolded {
        font-weight: 700;
      }
    }
  }
}
