html {
  font-size: $baseprc;
}

body {
  background-color: $white;
  color: $black;
  font-family: $font;
  font-weight: 400;
  font-size: 1.4rem;

  &.fixed {
    height: 100%;
    overflow: hidden;
  }
}

.container {
  max-width: $lg;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.section {
  padding-bottom: 50px;
}

.flexwrap {
  display: flex;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: $ngrey;
  border-radius: 50%;
  margin: 0px 5px;
  opacity: .5;
}

.swiper-pagination-bullet-active {
  background-color: $orange;
  opacity: 1;
}

.overlay {

  &--brown {
    @include overlayB();
  }
}

.align-center {
  text-align: center;
}
