.header {
  background-color: $white;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 5px 14px 0px #4a4a4a;

  @media screen and (max-width: $md) {
    padding: 0px;
  }

  .container {

    @media screen and (max-width: $md) {
      padding: 0px;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &__item {

      &--first {
        margin-right: auto;
      }

      &:not(&--first) {
        margin-left: 1rem;
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .3s cubic-bezier();

    @media screen and (max-width: $md) {
      position: fixed;
      top: 0px;
      left: 0px;
      min-height: 100vh;
      display: block;
      background-color: rgba($color: $brown, $alpha: .9);
      transform: translateX(100%);
    }
  }

  &__lang {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    background-color: $white;

    &:hover {
      height: auto;
    }
  }

  &__lang__item {
    font-size: 1.8rem;
    padding: 1rem;
    color: $orange;

    &--active {
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    &__img {
      width: 80px;
    }
  }

  &-navigation {
    display: flex;
    width: 35%;
    justify-content: space-between;
    border-top: 2px solid $orange;
    margin-top: 10px;
    padding-top: 10px;

    @media screen and (max-width: $md) {
      width: 100%;
      border: none;
      display: block;
      padding: 0px;
    }

    &__left {
      margin-right: 15%;

      @media screen and (max-width: $md) {
        margin: 0%;
      }
    }

    &__right {
      margin-left: 15%;

      @media screen and (max-width: $md) {
        margin: 0%;
      }
    }

    &__item {

      @media screen and (max-width: $md) {
        text-align: center;
      }

      &--hasSub {

        @media screen and (max-width: $md) {
          position: relative;
          
          &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ffffff transparent transparent transparent;
            right: 50px;
            top: 15px;
          }
        }
      }
    }

    &__link {
      font-size: 1.8rem;
      color: $black;
      text-transform: uppercase;
      padding: .5rem 1rem;
      display: block;
      border-radius: 5px;
      transition: .3s cubic-bezier();

      @media screen and (max-width: $md) {
        color: $white;
        font-size: 2rem;
        padding: .5em 0em;
        margin: .2em 0em;
      }

      @media screen and (min-width: $md + 1px) {
        &:hover {
          color: $white;
          background-color: $orange;
        }
      }
    }

    &__subMenu {
      display: none;
      position: absolute;
      padding: 1rem 1rem 1rem .5rem;
      background-color: $white;
      border-bottom: 2px solid $orange;

      @media screen and (max-width: $md) {
        display: none;
        position: relative;
        padding: 0;
        background-color: transparent;
        border-bottom: none;
      }
    }

    &__subItem {
      font-size: 1.6rem;
      padding: .5rem 1rem;
      transition: .3s cubic-bezier();

      @media screen and (max-width: $md) {
        color: $white;
      }

      &:hover {
        color: $orange;
      }
    }

    &__item {

      &--hasSub {
        transition: .3s cubic-bezier();

        &:hover {

          @media screen and (min-width: $md + 1px) {
           
            .header-navigation__subMenu {
              display: block;
            } 
          }
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: -62px;

    .header__logo {
      top: 65px;

      &__img {
        width: 38px;
      }
    }
  }
}
