.text-content {

  .text-content-title {
   background-color: $brown;
   color: $white;
   font-family: $font;
   font-weight: 700;
   font-size: 3rem;
   padding: .5em 0;
  }

  .text-content-cont {
    padding: 3rem 0 0rem;

    &--less-width {
      max-width: 750px;
      margin: 0 auto;
    }

    p {
      color: $ngrey;
      font-size: 1.6rem;
      font-family: $font2;
      margin-bottom: 1em;
      line-height: 1.5em;
    }

    a {
      color: $orange;
    }

    li {
      position: relative;
      color: $ngrey;
      padding: 0 0 .5em 20px;
      font-family: $font2;
      line-height: 1.5em;
      font-size: 1.6rem;
      font-weight: 500;
  
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        background-color: $orange;
        border-radius: 50%;
        left: 0px;
        top: 10px;
      }
    }

    strong {
      font-weight: 900;
    }

    td {
      padding: 2rem;
    }
  }
}
