.text-content {

  .text-content-title {
   background-color: $brown;
   color: $white;
   font-family: $font;
   font-weight: 700;
   font-size: 3rem;
   padding: .5em 0;
  }

  .text-content-cont {
    padding: 3rem 0 0rem;

    p {
      color: $ngrey;
      font-size: 1.6rem;
      font-family: $font2;
      margin-bottom: 1em;
      line-height: 1.5em;
    }

    a {
      color: $orange;
    }
  }
}
